%footer
  .social
    = link_to '<i class="icon-envelope"></i>', 'mailto:contact@garethdjones.com'
    = link_to '<i class="icon-twitter"></i>', 'http://twitter.com/gdjones83'
    = link_to '<i class="icon-linkedin"></i>', 'http://www.linkedin.com/gdjones83'
    = link_to '<i class="icon-foursquare"></i>', 'http://foursquare.com/gdjones83'
    %p
      Imagined &amp; Crafted by Gareth D. Jones
      %br
      &copy; #{Time.now.year}
