---
title: Notable Projects | Gareth Jones
description: Previous Design and Development Projects that I have worked on
---

.main.projects

  %article
    = image_tag "#{cloud}/images/gohealth-marketplace.png", :alt => 'GoHealth Insurance Exchange Marketplace', :class => 'gohealth'

    %hgroup
      %h1 GoHealth Insurance

    %p
      GoHealth is a health insurance company located in River North, Chicago. I was part of the core team that programmed and launched an online marketplace for health insurance on October 1st 2013, making GoHealth one of the first companies to do so when President Obama's health care law came into effect. In addition to our own product, we also provided white labelled services to some of the largest companies in the United States.
    %p
      Originally, I was part of the team that established, then outlined the User Experience for the project. Once development started my role was to guide front-end interactive design and development. That role entailed creating, maintaining and scaling stylesheets, coding page templates and creating directives to handle behaviour for any advanced UI functionality required. The GoHealth Health Insurance Exchange Marketplace can be found at
      = link_to 'GoHealthInsurance.com', 'http://www.gohealthinsurance.com/marketplace', :target => '_blank'
      \.
    %p
      Technologies Used: AngularJS, Grails, Grunt, HTML, SCSS, PhantomJS

  %article
    = image_tag "#{cloud}/images/fight-scores.png", :alt => 'Fight Scores - Boxing Scorecards', :class => 'fight-scores'

    %hgroup
      %h1 Fight Scores for iOS

    %p
      Fight Scores is your essential companion to the weekend's boxing viewing. Whether you're in front of your tv or soaking up the atmosphere at a live event, Fight Scores invites you to take on the role of a judge. 

    %p
      Offering a sleek and modern take on the traditional art of scoring a boxing match, Fight Scores allows you to take detailed notes of each bout as well as scoring them round-by-round. Share your scorecards with friends over your social networks or save them for your own future reference.
    %p 
      I designed, built and released Fight Scores as a personal project. It was my first app using Swift and was a great 
      = link_to 'learning tool', '/thoughts/learning-swift/'
      \. To date it's sold copies in five continents.  You can find Fight Scores at
      = link_to 'Fight Scores on iTunes', 'https://itunes.apple.com/app/fight-scores/id975691413', :target => '_blank'
      \.
    %p
      Technologies Used: Swift, Core Data, iCloud

  %article
    = image_tag "#{cloud}/images/corkings.png", :alt => 'Corkings Online Wine Journal and Network', :class => 'corkings'

    %hgroup
      %h1 Corkings

    %p
      Corkings is an ongoing side project of mine. One of my personal passions is wine, so I decided to combine that with my passion for web development and create an online wine community. With Corkings, wine enthusiasts can discover, review and share wines, as well as follow what their friends are drinking.
    %p
      The site has been through many iterations and took me about a year's work, evenings and weekends, to get it to the point it's at today, a robust and reliable web application. As I found out, there are many different many different facets to building a social networking site, from logins, passwords and storing user information securely, to designing an experience that is informative without being overwhelming, friendly without being juvenile. It has been, and continues to be a great learning experience for myself.
    %p
      I'm currently working on an iOS companion to make it easier to add wines while you're on the go. Corkings can be found at
      = link_to 'Corkings.com', 'http://corkings.com', :target => '_blank'
      \.
    %p
      Technologies Used: Ruby, Rails, HAML, SCSS, Postgres, rSpec

  %article.wy
    = image_tag "#{cloud}/images/warmlyyours-ss.png", :alt => 'WarmlyYours Floor Heating', :class => 'corkings'

    %hgroup
      %h1 WarmlyYours Inc

    %p
      WarmlyYours is a company located in the northern suburbs of Chicago specializing in Radiant Heating Systems. Their flagship product is their Floor Heating Systems, but they are also known for their outdoor radiant heating, snow melting systems and LAVA&reg; Heating Panels.
    %p
      I arrived at WarmlyYours as an intern and spent an enjoyable 7 years of my life there. By the time I left I was accountable for the web site design and development, as well as the interaction and usability. My role also stretched to working alongside the graphic designer to ensure that the branding voice of the company was present throughout our materials regardless of the medium.

    %p
      During my time at WarmlyYours we were responsible for rolling out an industry first online shopping cart and a Ruby-based, Customer Relationship Management system. The WarmlyYours site can be found at
      = link_to 'WarmlyYours.com', 'http://www.warmlyyours.com', :target => '_blank'
      \.
    %p
      Technologies Used: HTML, SCSS, jQuery
